#gpu-view {
    width: 100vh;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-items: center;
}
#gpu-view-frame {
    /* position: absolute;
    top: -5%; */
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
}    
.ar-iframe {
  width: 100vw;
  height: 100vh;
}