@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300&display=swap');

.nav-link {
    color: #fff !important;
  }
.navbar-brand {
    color: #fff !important;
}

.navbar-text {
    color: #fff !important;
    font-family: 'Chakra Petch', sans-serif;
}