#sidebar {
    position: absolute;
    /* width: 20vw; */
    left: 0px;
    top: 56px;
    color: white;
    transition: transform .3s;
}

#toolsContainer {
  width: 20vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

#tools {
  padding-top: 4vh;
  margin-left: 20px;

}

#sidebar.hide {
    transform: translate3d(-20vw, 0, 0);
}

#sidebar.show {
    transform: translate3d(0vw, 0, 0);
}

button {
    border: none;
}

#showButton {
  padding: 5px;
  position: absolute;
  top: 5vh;
  left: 20vw;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  -moz-transform:rotate(90deg); 
  -ms-transform:rotate(90deg);
  -o-transform:rotate(90deg);
  -webkit-transform:rotate(90deg);
  transform: rotate(90deg);
  transform-origin: bottom left;
}