#sidebar {
    position: absolute;
    /* width: 20vw; */
    left: 0px;
    top: 56px;
    color: white;
    transition: transform .3s;
}

#toolsContainer {
  width: 300px;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

#tools {
  transition: transform .3s;
  padding-top: 4vh;
  margin-left: 20px;
}

#tools label {
  margin: 10px 0 15px 0;
}

#tools span {
  padding-bottom: 10px;
}

#tools.hide {
  display: none;
}

#tools.show {
  display: block;
}

#sidebar.hide {
    transform: translate3d(-300px, 0, 0);
}

@media screen and (max-width: 583px) { 
  #sidebar {
    top: 78px !important;
  }
}
@media screen and (max-width: 509px) { 
  #sidebar {
    top: 94px !important;
  }
}

#sidebar.show {
    transform: translate3d(0vw, 0, 0);
}

button {
    border: none;
}

#showButton {
  padding: 10px;
  border-radius: 7px 7px 0 0;
  position: absolute;
  top: 5vh;
  left: 300px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  -moz-transform:rotate(90deg); 
  -ms-transform:rotate(90deg);
  -o-transform:rotate(90deg);
  -webkit-transform:rotate(90deg);
  transform: rotate(90deg);
  transform-origin: bottom left;
}