button {
  border-radius: 10px;
  background: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline;
  font-size: 12px;
  margin: 20px;
  transition: 0.3s;
}

button:hover {
  transition: 0.3s;
}

button:nth-child(1) {
  border: 1px solid #ff6862;
  color: #ff6862;
}

button:nth-child(1):hover {
  background: #ff6862;
  color: white;
}

button:nth-child(2) {
  border: 1px solid #62d8ff;
  color: #62d8ff;
}

button:nth-child(2):hover {
  background: #62d8ff;
  color: white;
}

button:nth-child(3) {
  border: 1px solid #d862ff;
  color: #d862ff;
}

button:nth-child(3):hover {
  background: #d862ff;
  color: white;
}
